<div class="container mx-auto p-4">
  <div class="flex items-end justify-between pb-2 border-b-2 border-dashed">
    <div class="flex flex-col items-center space-y-1">
      <div
        class="text-4xl font-bold text-white bg-red-600 w-fit px-2 py-1 rounded-md"
      >
        FletNix
      </div>
      <div class="font-bold">What to watch</div>
    </div>
  </div>
</div>

<div class="max-w-md mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4">Sign Up</h2>
  <form (ngSubmit)="onSubmit()" #signupForm="ngForm" class="space-y-4">
    <div *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</div>
    <div>
      <label for="email" class="block text-sm font-medium text-gray-700"
        >Email</label
      >
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-red-500 focus:ring-opacity-50"
      />
    </div>
    <div>
      <label for="password" class="block text-sm font-medium text-gray-700"
        >Password</label
      >
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-red-500 focus:ring-opacity-50"
      />
    </div>
    <div>
      <label for="age" class="block text-sm font-medium text-gray-700"
        >Age</label
      >
      <input
        type="number"
        id="age"
        name="age"
        [(ngModel)]="age"
        required
        min="1"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-red-500 focus:ring-opacity-50"
      />
    </div>
    <button
      type="submit"
      class="w-full px-4 py-2 bg-red-600 text-white font-semibold rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50"
    >
      Sign Up
    </button>
  </form>

  <div class="mt-4 text-center">
    <a href="/" routerLink="/" class="text-red-600 hover:underline"
      >Already have an account? Login!</a
    >
  </div>
</div>
